.containerForm{
<<<<<<< HEAD
    background-image: url("../../../../img/Background.png");
    height: 100vh;
    max-width: 100vw;
    background-size: 100%;
    
}
.formularioRegistro{
    position: absolute;
    left:55vw;
    top:10vh;
}

.saludo{
    text-align: center;
    font-family: comic sans-serif;
    font-size: 4em;
    position:absolute;
    left:8vw;
    top:25vh;
}
.error{
    color:white;
=======
    background-color: green;
>>>>>>> ece7be0d0e8ab82f552309d55cc7383cb22d9061
}