.flashcards {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* margin: 2em 0; */
}

.decksContainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-top: 2em;
    justify-content: space-evenly;
}

app-deck {
    min-width: 200px;
    max-width: 300px;
    flex: 1 1 25%;
    margin: 0.2em;
}

.moreDecks{
    margin-top: 2.5em;
    display: flex;
    justify-content: space-evenly;
}

@media only screen and (max-width: 700px) {
    .decksContainer{
        flex-direction: column;
    }
    app-deck{
        margin: 0 auto 1em auto;
    }
}

