<div class="flashcards">
    <div class="search">
        <form novalidate [formGroup]="searchForm" (ngSubmit)="searchDeck()">
            <mat-form-field appearance="outline">
                <mat-label>Buscar baraja</mat-label>
                <input matInput type="text" placeholder="Nombre de baraja" formControlName="nameDeck">
                <mat-hint>Escribe al menos 3 caracteres para buscar</mat-hint>
            </mat-form-field>
            <button mat-raised-button color="primary" type="submit" [disabled]="searchForm.invalid">Buscar</button>
        </form>
    </div>
    <div class="decksContainer">
        <ng-container *ngIf="barajas.length==0; else ReadyDecks">
        </ng-container>
        <ng-template #ReadyDecks>
            <app-deck *ngFor="let deck of barajas" [deck]="deck"></app-deck>
        </ng-template>
    </div>
    <div *ngIf="barajas.length>0" class="pagination">
        <button mat-raised-button color="accent" class="moreDecks" (click)="getDecks()">Cargar más</button>
    </div>
</div>