<div class="flashcards">
    <div class="search">
        <form novalidate [formGroup]="searchForm" (ngSubmit)="searchDeck()" >
            <mat-form-field appearance="outline">
                <mat-label>Buscar baraja</mat-label>
                <input matInput type="text" placeholder="Nombre de baraja" formControlName="nameDeck">
                <mat-hint>Escribe al menos 3 caracteres para buscar</mat-hint>
            </mat-form-field>
            <button mat-raised-button color="primary" type="submit" [disabled]="searchForm.invalid" >Buscar</button>
        </form>
    </div>
    <div class="decksContainer">
        <app-deck></app-deck>
        <app-deck></app-deck>
        <app-deck></app-deck>
        <app-deck></app-deck>
        <app-deck></app-deck>
        <app-deck></app-deck>
    </div>
    <div class="pagination">
        Paginación
    </div>
</div>








<!-- <p>EN ESTE COMPONENTE SE CARGARAN LAS BARAJAS</p>
<div *ngIf="barajas.length > 0">
    <h1>Si hay barajas se ve este componente</h1>
    <div *ngFor="let baraja of barajas" class="barajas">
        <p>ID: {{baraja.ID}}</p>
        <p>Email: {{baraja.email}}</p>
        <p>Nombre: {{baraja.nombre}}</p>
        <button (click)="seeDeckOfCards(baraja.ID, baraja.nombre)" >Boton para ver las cartas</button>
    </div>
</div> -->