.flashcards {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* margin: 2em 0; */
}

.search {
    flex: 2 1 content;
    padding-top: 1em;
    background-color: #333232;
}

.decksContainer {
    flex: 9 1 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.decksContainer>* {
    flex: 0 1 30%;
}

.pagination {
    flex: 2 1 auto;
    margin-top: 1em;
    align-self: center;
}

form {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.mat-form-field {
    width: 30%;
}

button {
    margin-left: 1em;
}

@media only screen and (max-width: 700px) {
    form {
        flex-direction: column;
    }
    .mat-form-field {
        width: 100%;
    }
    button {
        margin: 0 auto;
    }
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
}

.pagination a.active {
    background-color: dodgerblue;
    color: white;
}

.moreDecks{
    margin: 0;
}