*{
    padding:0;
    margin:0;
    justify-content: center;
}
ul{
    text-align: center;
    list-style: none;
}
.mat-card, .mat-card>* {
    background-color: white;
    color: black;
}
.mat-card{
    animation-name: presentation;
    animation-duration: 2s;}

.father{
    display: flex;
    padding:1em;
}


.presentation-letter{
    width: 35%;
    flex: 1 1 auto;
    margin: 1em;
}

@media only screen and (max-width: 700px) {
    .father{
        flex-direction: column;
        align-items: center;
    }
    .presentation-letter{
        width: 80%;
    }

}
@keyframes presentation {
    0% {
        top: 800px;
    }
    100% {
        right: 0px;
        top: 0px;
    }
}