<div class="father">
    <mat-card class="presentation-letter mat-elevation-z8">
        <mat-card-header>
            <mat-card-title>Jorge González Dávila</mat-card-title>
        </mat-card-header>
        <img mat-card-image class="img-avatar" src='../../../../../assets/img/avatar-jorge.png' alt="avatar de Jorge">
        <mat-card-content>
            <h2 style="text-align: center;">Programador, tareas realizadas:</h2>
            <ul >
                <li>Diseño y desarrolo del backend</li>
                <li>Diseño y desarrollo de la lógica del frontend</li>
                <li>Diseño y desarrollo de la interfaz gráfica</li>
            </ul>
        </mat-card-content>
    </mat-card>
    <mat-card class="presentation-letter mat-elevation-z8">
        <mat-card-header>
            <mat-card-title>Sergio García Itúrbide</mat-card-title>
        </mat-card-header>
        <img mat-card-image class="img-avatar" src='../../../../../assets//img/SergioAvatar.png' alt="avatar de Sergio">
        <mat-card-content>
            <h2 style="text-align: center;">Programador adjunto, tareas:</h2>
            <ul>
                <li>Diseño gráfico</li>
                <li>Base de Datos</li>
                <li>Logística</li>
            </ul>
        </mat-card-content>
    
    </mat-card>
</div>