<div class="padrre">
    
    <mat-card class="presentation-letter">
        <img mat-card-image class="img-avatar" src='https://avataaars.io/?avatarStyle=Circle&topType=WinterHat3&accessoriesType=Blank&hatColor=Red&facialHairType=BeardMedium&facialHairColor=BrownDark&clotheType=ShirtCrewNeck&clotheColor=Black&eyeType=Default&eyebrowType=Default&mouthType=Twinkle&skinColor=Light' alt="">
        <mat-card-subtitle>Jorge Fernández</mat-card-subtitle>
        <mat-card-content><p>Programador en jefe </p></mat-card-content>
    </mat-card>
    <mat-card class="presentation-letter">
        <img mat-card-image class="img-avatar" src='https://avataaars.io/?avatarStyle=Circle&topType=WinterHat3&accessoriesType=Blank&hatColor=Red&facialHairType=BeardMedium&facialHairColor=BrownDark&clotheType=ShirtCrewNeck&clotheColor=Black&eyeType=Default&eyebrowType=Default&mouthType=Twinkle&skinColor=Light' alt="">
        <mat-card-subtitle>Sergio García</mat-card-subtitle>
        <mat-card-content><p>Diseño gráfico, BBDD y logística</p></mat-card-content>
    
    </mat-card>
</div>