<div class="padrre">
    
    <mat-card class="presentation-letter">
        <mat-card-header>
            <mat-card-title>Jorge González Dávila</mat-card-title>
        </mat-card-header>
        <img mat-card-image class="img-avatar" src='https://avataaars.io/?avatarStyle=Circle&topType=WinterHat3&accessoriesType=Blank&hatColor=Red&facialHairType=BeardMedium&facialHairColor=BrownDark&clotheType=ShirtCrewNeck&clotheColor=Black&eyeType=Default&eyebrowType=Default&mouthType=Twinkle&skinColor=Light' alt="">
        <mat-card-content>
            <p>Programador, tareas realizadas:</p>
            <ul>
                <li>Diseño y desarrolo del backend</li>
                <li>Diseño y desarrollo de la lógica del frontend</li>
                <li>Diseño y desarrollo de la interfaz gráfica</li>
            </ul>
        </mat-card-content>
    </mat-card>
    <mat-card class="presentation-letter">
        <mat-card-header>
            <mat-card-title>Sergio García Itúrbide</mat-card-title>
        </mat-card-header>
        <img mat-card-image class="img-avatar" src='https://avataaars.io/?avatarStyle=Circle&topType=WinterHat3&accessoriesType=Blank&hatColor=Red&facialHairType=BeardMedium&facialHairColor=BrownDark&clotheType=ShirtCrewNeck&clotheColor=Black&eyeType=Default&eyebrowType=Default&mouthType=Twinkle&skinColor=Light' alt="">
        <mat-card-content><p>Programador adjunto</p>
            <ul>
                <li>Diseño gráfico</li>
                <li>Base de Datos</li>
                <li>Logística</li>
            </ul>
        </mat-card-content>
    
    </mat-card>
</div>