<nav mat-tab-nav-bar mat-align-tabs="start" class="menu">
    <a mat-tab-link routerLink="/home" routerLinkActive="active">Home</a>
    <a mat-tab-link routerLink="/flashcards" routerLinkActive="active">Mis flashcards</a>
    <a mat-tab-link routerLink="/addflashcard" routerLinkActive="active">Añadir flashcard</a>
    <a mat-tab-link routerLink="/da" routerLinkActive="active">Juega</a>
    <a mat-tab-link routerLink="/register" routerLinkActive="active">Registrarse</a>
    <button mat-flat-button color="accent" class="icono">ICONO</button>
  </nav>